ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 10px;
}
ul.rating li i {
  font-size: 25px;
  
}
h3 {
    padding:10px;
    text-align:center;
}
.ratingLayout{
  margin-top:-2%;
}
.button.button-positive{
	background-color: #33cd5f;
}
.button.button-positive.activated{
	background-color: #33cd5f;
}