<ion-nav-view>

  <ion-header-bar class="bar-balanced">
    <img src="img/logo.png" width="40px" height="40px" style="margin-top:-2px">
    <h1 align="center"  class="title" style="color:black">Travel FeedBack</h1>

  </ion-header-bar>
  
  <ion-content class="has-header"  >
    
   
<form name="myform" >
    <div class="list list-inset">
      <label class="item item-input">
             <input type="number" name="username" placeholder="TCS EMP ID" ng-model="login.username" required>
          </label>
    <label class="item item-input item-select">
    <div class="input-label">
      Location
    </div>
    
    <select ng-model="login.selectedLocationName" ng-options="x for x in login.locationNames" required>
 <option value=''>- Choose Location -</option>
</select>
    
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      Vehicle
    </div>
      <select ng-model="login.selectedVehicleType" ng-options="y for y in login.vehicleNames" required>
         <option value=''>- Choose Vehicle -</option>
</select>
  </label>
    </div>
    <button class="button button-block button-balanced" ng-disabled="myform.$invalid" style="color:black" ng-click="login.login()">Submit</button>
    </form>
    <button class="button button-block button-balanced ion-person-add icon-left" style="color:black" ng-click="openModal()">
  Admin Login
</button>
<div class = "row">
   <div class = "col"></div>
   <div class = "col"><img src="img/logo.png" width="100" height="100"></div>
   <div class = "col"></div>
 </div>
<div class = "row">
   <div class = "col"></div>
   <div class = "col"><img src="assets/images/TEP.png" width="100" height="100"></div>
   <div class = "col"></div>
 </div>
  </ion-content>

</ion-nav-view>